<ul class="nav nav-pills pull-right">
    <li role="presentation" class="active">
        <a href="/" title="Login">Login</a>
    </li>
    <li role="presentation">
        <a href="/register" title="Register">Register</a>
    </li>
    <li role="presentation">
        <a href="/users" title="Users">Users</a>
    </li>
</ul>
